/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* Global Settings */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}

section {
    height: 100vh;
}


/* Navigation */


.nav {
    position: absolute;
    align-items: center;
    padding: 20px;
    right: 0;
    top: 0;
    z-index: 10;
}

.nav_link {
    color: rgb(255, 255, 255);
    float: right;
    margin-right: 30px;
}

.active {
    border-bottom: rgb(255, 255, 255) solid 2px;
}



/* Landing Section */

#landing_section {
    background-image: url("/images/landing_background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

#landing_section h1 {
    font-size: 6rem;
    max-width: 30vw;
    position: absolute;
    top: 8.5rem;
    left: 2rem;

}

h1 span {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: .5px #FFFFFF;
}


/* Explore Section*/

#explore_section {
    padding-top: 4rem;
    background-color: #F5F5F5;
    min-height: 100vh;
    height: max-content;
    /* position: relative; */
}

#explore_section>* {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 50px;
    height: 100%;
    justify-content: space-around;
}
.explore_div > div{
    margin: 10px;

}

#explore_section div>* {
    background: #F2EBE6;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    width: inherit;
}

#explore_section div>*>* {
    height: 50%;
    width: 200px;
}

#explore_section div>*>* h3 {
    font-family: 'Libre Baskerville', serif;
}

#explore_section div> * > * p {
    font-size: 0.5rem;
    margin: 10px;
    width: auto;
    color: rgba(0, 0, 0, 0.776);
}

#explore_section div> * > * a {
    font-size: 0.5rem;
    color: #BFAA9D;

}

#sanfrancisco {
    display: flex;
    color: white;
}


#sanfrancisco img {
    /* fit-content; */
    width: auto;
    height: 100%;
    margin: 70px;
}

#sanfrancisco {
    margin: auto;
}

#sanfrancisco > * {
    max-width: 50%;
}

#sanfrancisco #text > * {
    max-width: 50%;
}

#sanfrancisco #text h1 {
    font-size: 7rem;
    letter-spacing: 10px; 
    max-width: 80vw;
}

#title {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    left: 45px;
    top: 100px;
}

#sanfrancisco #text p {
    font-size: 1rem;
    margin: 20px;
    font-weight: 200;
}

#sanfrancisco .button {
   height: 50px;
   width: 200px;
   background-color: #B84A43;
   border-radius: 20px;
position: relative;}

#sanfrancisco .button div{
  position: absolute;
   margin: 11px 0px 0px 60px;
}


#sanfrancisco .button {
    font-size: 1.3rem;
    margin: 20px;
 }

.img_container {
    margin: 0 !important;
}

.img_container img {
    object-fit: cover !important; 
    height: 100% !important;
    width: 100% !important;

}

/* Form */

form{
    font-family: 'Open Sans', sans-serif;
}



  input[type=number], input[type=date], input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }
  input[type=range] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

  }


  
  /* CSS */
  input[type=submit] {
    align-items: center;
    background-color: #1f791f;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 10px 20px;
   color: white;
  }
  
  
  .astric{
    color: red;
    font-size: 30px;
  }

  form{
    margin: 100px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
   }

  body{
    background-color: #E5E5E5;
  }

  legend{
    margin-top: 30px;
  }



  /* Footer */
  footer{
    padding: 30px;
    background-color: #a3b18a;
    color: black;
   }


  footer a{
    color: black;

   }
  .footer{
    display: flex;
    justify-content: space-around;
   }

  .footer div{
    display: flex;
    justify-content: space-around;
 flex-direction: column;
  }

  .footer div > a, .footer div > p{
  
 padding-left: 20px;
  }

  /* Info */

  .info{
    display: flex;
    justify-content: space-around;
    margin: 100px;
    height: max-content;
    flex-direction: column;
  }

  .info > div{
width: 50%;
    display: flex;
    justify-content: space-around;
  }

  /* The lost coast */

  #lost_coast {
    background-image: url("images/lostcoast.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

#lost_coast h1 {
    font-size: 6rem;
    max-width: 30vw;
    position: absolute;
    top: 8.5rem;
    left: 2rem;

}

#glass_beach{
    background-image: url("images/glassbeach.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

#glass_beach h1 {
    font-size: 6rem;
    max-width: 30vw;
    position: absolute;
    top: 8.5rem;
    left: 2rem;

}

/* Rubrick */

#rubric{
    display: flex;
}


/* Parks */
#parks_section{
    display: flex;
    height: 100vh;
    background-image: url(images/natforresr.jpg);
    background-size: cover;
}

#parks{
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;

}

#parks{
    max-width: 50%;
}

#parks h3{
color: white;
margin-bottom: -20px;

font-size: 1.5rem;
}


#parks h1{
    color: rgb(65, 161, 65);
    font-size: 8rem;
    margin: 0 auto;
    }

#parks p{

    color: white;
    font-size: .7rem;
    margin: 0;
    max-width: 60%;
    margin: 20px auto;
    }

    iframe{
        width: 100%;
        height: 100%;
    }